In [1]:
import pandas as pd
from pandera import DataFrameModel, Field, DateTime
from pandera.typing import DataFrame, Series

from prefect import flow, task
from prefect.blocks.system import Secret

from catnip.fla_redshift import FLA_Redshift
from catnip.fla_sharepoint import FLA_Sharepoint

from typing import Dict
from datetime import datetime, date

import numpy as np
from sklearn.cluster import KMeans
from scipy.spatial.distance import cdist
from scipy import optimize
from sklearn.preprocessing import StandardScaler
from concurrent.futures import ThreadPoolExecutor

In [2]:
def get_redshift_credentials() -> Dict:

    cred_dict = {
        "dbname": Secret.load("stellar-redshift-db-name").get(),
        "host": Secret.load("stellar-redshift-host").get(),
        "port": 5439,
        "user": Secret.load("stellar-redshift-user-name").get(),
        "password": Secret.load("stellar-redshift-password").get(),

        "aws_access_key_id": Secret.load("fla-s3-aws-access-key-id-east-1").get(),
        "aws_secret_access_key": Secret.load("fla-s3-aws-secret-access-key-east-1").get(),
        "bucket": Secret.load("fla-s3-bucket-name-east-1").get(),
        "subdirectory": "us-east-1",

        "verbose": False,
    }

    return cred_dict

with ThreadPoolExecutor(1) as pool:
    rs_creds = pool.submit(lambda: get_redshift_credentials()).result()

In [9]:
q = "select * from custom.cth_game_descriptions where season = '2023-24'"

In [11]:
df = FLA_Redshift(**rs_creds).query_warehouse(sql_string = q)

In [38]:
q = """
        WITH nightly AS (
            SELECT
                event_date,
                count(*) AS nightly_tickets
            FROM
                custom.cth_historical_all_1718_2223
            WHERE
                season != '2020-21'
                AND is_comp = FALSE
                AND ticket_type IN ('Singles', 'Flex')
            GROUP BY
                event_date
            UNION
            SELECT
                date(event_datetime) as event_date,
                count(*) AS nightly_tickets
            FROM
                custom.cth_v_ticket_2324
            WHERE
                is_comp = FALSE
                AND ticket_type IN ('Singles', 'Flex')
            GROUP BY
                event_date
        ),
        atp AS (
            SELECT
                event_date,
                sum(gross_revenue)/count(*) AS atp
            FROM
                custom.cth_historical_all_1718_2223
            WHERE
                season != '2020-21'
            GROUP BY
                event_date
            UNION
            SELECT
                date(event_datetime) as event_date,
                sum(gross_revenue)/count(*) AS atp
            FROM
                custom.cth_v_ticket_2324
            GROUP BY
                event_date
        ),
        attendance AS (
            SELECT
                event_date,
                sum(did_attend) AS attendance
            FROM
                custom.cth_historical_all_1718_2223
            GROUP BY
                event_date
            UNION
            SELECT
                date(event_datetime) as event_date,
                count(*) AS attendance
            FROM
                custom.cth_v_attendance_2324
            GROUP BY
                event_date
        ),
        agg as
            (SELECT
                n.event_date,
                n.nightly_tickets,
                atp.atp,
                att.attendance
            FROM
                nightly n
            LEFT JOIN
                atp ON n.event_date = atp.event_date
            LEFT JOIN
                attendance att ON n.event_date = att.event_date
            WHERE
                n.event_date < (GETDATE() - 1)
            ORDER BY
                n.event_date)
        SELECT
            agg.*, week_day, trimester, original_six_plus_extra, is_dense
        FROM
            agg
        LEFT JOIN
            custom.cth_game_descriptions on date(agg.event_date) = date(cth_game_descriptions.event_date)
        WHERE
            season = '2023-24'
    """

In [45]:
df = FLA_Redshift(**rs_creds).query_warehouse(sql_string = q)

In [46]:
df_clust = df[[
        'week_day', 
        'trimester', 
        'original_six_plus_extra', 
        'is_dense', 
        'nightly_tickets', 
        'atp', 
        'attendance']]

x = np.array(df_clust)
X = StandardScaler().fit_transform(x)

In [49]:
def get_even_clusters(X: np.array, cluster_size: int) -> np.array:

    n_clusters = int(np.ceil(len(X)/cluster_size))
    kmeans = KMeans(n_clusters, random_state = 1693)
    kmeans.fit(X)
    centers = kmeans.cluster_centers_
    centers = centers.reshape(-1, 1, X.shape[-1]).repeat(cluster_size, 1).reshape(-1, X.shape[-1])
    distance_matrix = cdist(X, centers)
    clusters = optimize.linear_sum_assignment(distance_matrix)[1]//cluster_size

    return clusters

c:\Users\riffere\Documents\pandas_party\venv\Lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [54]:
df['cluster'] = get_even_clusters(X, 8)

c:\Users\riffere\Documents\pandas_party\venv\Lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [55]:
for i in df['cluster'].unique():

        if df['cluster'].value_counts()[i] < 5:

            mean_atp_df = df[['cluster', 'atp']].groupby(['cluster']).mean()
            mean_atp_df = mean_atp_df.loc[~mean_atp_df.index.isin([i])]

            for index, row in df[df['cluster'] == i].iterrows():

                df_closest = mean_atp_df.iloc[(mean_atp_df['atp']-row['atp']).abs().argsort()[:1]].index
                df.loc[df['event_date'] == row['event_date'], 'cluster'] = df_closest[0]

            if i != 0:

                df.loc[df['cluster'] == 0, 'cluster'] = i


## select cols
df

,event_date,nightly_tickets,atp,attendance,week_day,trimester,original_six_plus_extra,is_dense,cluster
0,2024-01-17,3175,64.037092,16009.0,4,2,0.75,1,4
1,2024-02-06,2161,61.352928,14635.0,3,3,1.00,0,3
2,2023-12-30,1362,137.124192,17906.0,7,2,0.75,0,0
3,2024-02-20,3387,50.582824,16623.0,3,3,0.00,0,2
4,2023-11-12,1670,65.243778,16221.0,1,1,1.00,0,1
5,2023-12-06,1683,46.431952,14984.0,4,2,0.00,0,1
6,2024-01-24,1889,48.669586,13849.0,4,2,0.00,0,1
7,2023-11-10,1301,62.917105,15450.0,6,1,0.00,0,1
8,2023-10-19,1187,89.807953,15400.0,5,1,1.00,0,3
9,2023-12-23,1977,95.145841,15615.0,7,2,0.75,0,0
10,2024-03-09,1808,73.638692,16727.0,7,3,0.00,0,2
11,2023-10-28,1113,71.664695,13492.0,7,1,0.00,0,3
12,2024-03-26,1618,105.045374,16493.0,3,3,1.00,0,0
13,2023-11-24,1806,67.286261,16204.0,6,1,0.00,0,1
14,2023-12-08,1531,74.888751,16071.0,6,2,0.50,0,4
15,2023-11-22,2030,95.441643,17291.0,4,1,1.00,1,4
16,2024-03-28,3776,62.687284,17249.0,5,3,0.00,1,2
17,2023-10-07,1299,46.099366,8311.0,7,1,1.50,0,3
18,2024-02-24,2511,77.051695,18065.0,7,3,0.75,0,2
19,2024-01-15,1686,60.451674,14600.0,2,2,0.00,1,4
20,2024-01-13,2105,73.188088,16921.0,7,2,0.00,1,4
21,2024-03-21,2952,50.457514,17685.0,5,3,0.00,0,2
22,2024-02-08,1133,63.569943,14474.0,5,3,0.75,1,4
23,2023-12-21,2647,68.356166,16134.0,5,2,0.00,0,2
24,2023-11-20,2531,56.950074,16769.0,2,1,0.00,0,1
25,2023-10-21,960,61.795318,12207.0,7,1,0.00,1,3
26,2023-10-24,1179,42.993084,11933.0,3,1,0.00,0,3
27,2023-11-06,1415,42.955584,13408.0,2,1,0.00,0,1
28,2024-03-16,2029,103.305596,17542.0,7,3,1.50,0,0
29,2024-01-11,3355,51.229834,15958.0,5,2,0.00,0,2
30,2024-01-19,1867,72.264250,17568.0,6,2,0.00,0,1
31,2024-03-30,2062,76.415893,16677.0,7,3,0.75,0,0
32,2024-02-10,1824,78.055324,17314.0,7,3,0.00,0,0
33,2023-12-02,1556,74.186134,15930.0,7,2,0.00,0,4
34,2024-02-29,1701,73.912435,15784.0,5,3,0.75,0,0
35,2023-12-29,1792,143.139452,18311.0,6,2,1.00,0,0
36,2024-02-27,2176,50.732094,15423.0,3,3,0.00,1,4
37,2024-03-07,3221,69.683251,16679.0,5,3,1.00,0,2