In [1]:
import pandas as pd
import numpy as np
from catnip.fla_redshift import FLA_Redshift
from sqlalchemy import null
from datetime import datetime

from prefect.blocks.system import Secret
from typing import Dict
from concurrent.futures import ThreadPoolExecutor

from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

In [2]:
def get_redshift_credentials() -> Dict:

    cred_dict = {
        "dbname": Secret.load("stellar-redshift-db-name").get(),
        "host": Secret.load("stellar-redshift-host").get(),
        "port": 5439,
        "user": Secret.load("stellar-redshift-user-name").get(),
        "password": Secret.load("stellar-redshift-password").get(),

        "aws_access_key_id": Secret.load("fla-s3-aws-access-key-id-east-1").get(),
        "aws_secret_access_key": Secret.load("fla-s3-aws-secret-access-key-east-1").get(),
        "bucket": Secret.load("fla-s3-bucket-name-east-1").get(),
        "subdirectory": "us-east-1",

        "verbose": False,
    }

    return cred_dict

with ThreadPoolExecutor(1) as pool:
    rs_creds = pool.submit(lambda: get_redshift_credentials()).result()

In [3]:
q = """
with attendance as
    (select
        event_datetime,
        count(*) as attendance
    from
        custom.cth_v_attendance_2324
    group by
        event_datetime
    UNION ALL
    select
        event_datetime,
        count(*) as attendance
    from
        custom.cth_v_attendance_2425
    group by
        event_datetime)
select
    cth_game_descriptions.season,
    cth_game_descriptions.event_date,
    tier,
    is_premier,
    original_six_plus_extra,
    day_of_week,
    start_time,
    attendance,
    gross_revenue,
    num_orders,
    quantity_sold
from
    custom.cheq_v_hockey_summary
left join
    custom.cth_game_descriptions on date(cheq_v_hockey_summary.event_date) = date(cth_game_descriptions.event_date)
left join
    attendance on date(attendance.event_datetime) = date(cheq_v_hockey_summary.event_date)
where
    tier in ('A','B','C','D','E')
"""

historical_f_and_b = FLA_Redshift(**rs_creds).query_warehouse(sql_string = q)

In [4]:
day_map = {
    'Fri': 1,
    'Sat': 1,
    'Sun': 1,
    'Mon': 0,
    'Tue': 0,
    'Wed': 0,
    'Thu': 0
}

historical_f_and_b['weekend'] = historical_f_and_b.apply(
    lambda row: day_map.get(row['day_of_week'], 0), axis=1)

start_time_map = {
    '12:30 PM': 1,
    '12:45 PM': 1,
    '1:00 PM': 1,
    '3:00 PM': 1,
    '3:30 PM': 1,
    '4:00 PM': 2,
    '5:00 PM': 2,
    '6:00 PM': 2
}

historical_f_and_b['start_time_num'] = historical_f_and_b.apply(
    lambda row: start_time_map.get(row['start_time'], 0),
    axis=1)

tier_mapping = {
    'A': 5,
    'B': 4,
    'C': 3,
    'D': 2,
    'E': 1
}

historical_f_and_b['tier_num'] = historical_f_and_b.apply(
    lambda row: tier_mapping.get(row['tier'], 0),
    axis=1)

In [5]:
q = """
with attendance as
    (select
        event_datetime,
        count(*) as attendance
    from
        custom.cth_v_attendance_2324
    group by
        event_datetime
    UNION ALL
    select
        event_datetime,
        count(*) as attendance
    from
        custom.cth_v_attendance_2425
    group by
        event_datetime)
select
    cth_game_descriptions.season,
    cth_game_descriptions.event_date,
    tier,
    is_premier,
    original_six_plus_extra,
    day_of_week,
    start_time,
    attendance,
    sum(gross_revenue) as gross_revenue,
    sum(qty) as quantity,
    count(distinct invoice_id) as num_orders
from
    custom.retailpro_v_invoice_items
left join
    custom.cth_game_descriptions on retailpro_v_invoice_items.event_date = cth_game_descriptions.event_date
left join
    attendance on retailpro_v_invoice_items.event_date = date(attendance.event_datetime)
where
    season in ('2023-24','2024-25')
    and tier in ('A','B','C','D','E')
group by
    cth_game_descriptions.season,
    cth_game_descriptions.event_date,
    tier,
    is_premier,
    original_six_plus_extra,
    day_of_week,
    start_time,
    attendance
"""

historical_merch = FLA_Redshift(**rs_creds).query_warehouse(sql_string = q)

In [6]:
day_map = {
    'Fri': 1,
    'Sat': 1,
    'Sun': 1,
    'Mon': 0,
    'Tue': 0,
    'Wed': 0,
    'Thu': 0
}

historical_merch['weekend'] = historical_merch.apply(
    lambda row: day_map.get(row['day_of_week'], 0), axis=1)

start_time_map = {
    '12:30 PM': 1,
    '12:45 PM': 1,
    '1:00 PM': 1,
    '3:00 PM': 1,
    '3:30 PM': 1,
    '4:00 PM': 2,
    '5:00 PM': 2,
    '6:00 PM': 2
}

historical_merch['start_time_num'] = historical_merch.apply(
    lambda row: start_time_map.get(row['start_time'], 0),
    axis=1)

tier_mapping = {
    'A': 5,
    'B': 4,
    'C': 3,
    'D': 2,
    'E': 1
}

historical_merch['tier_num'] = historical_merch.apply(
    lambda row: tier_mapping.get(row['tier'], 0),
    axis=1)

In [7]:
q = """
select
    season,
    event_date,
    tier,
    is_premier,
    original_six_plus_extra,
    day_of_week,
    start_time
from
    custom.cth_game_descriptions
where
    event_date >= current_date
"""

future_game_info = FLA_Redshift(**rs_creds).query_warehouse(sql_string = q)

predicted_attendance = pd.read_csv('C:\\Users\\riffere\\Desktop\\output.csv')

future_game_info = future_game_info.merge(predicted_attendance, how = 'left', on = 'event_date')

In [8]:
day_map = {
    'Fri': 1,
    'Sat': 1,
    'Sun': 1,
    'Mon': 0,
    'Tue': 0,
    'Wed': 0,
    'Thu': 0
}

future_game_info['weekend'] = future_game_info.apply(
    lambda row: day_map.get(row['day_of_week'], 0), axis=1)

start_time_map = {
    '12:30 PM': 1,
    '12:45 PM': 1,
    '1:00 PM': 1,
    '3:00 PM': 1,
    '3:30 PM': 1,
    '4:00 PM': 2,
    '5:00 PM': 2,
    '6:00 PM': 2
}

future_game_info['start_time_num'] = future_game_info.apply(
    lambda row: start_time_map.get(row['start_time'], 0),
    axis=1)

tier_mapping = {
    'A': 5,
    'B': 4,
    'C': 3,
    'D': 2,
    'E': 1
}

future_game_info['tier_num'] = future_game_info.apply(
    lambda row: tier_mapping.get(row['tier'], 0),
    axis=1)

In [9]:
def run_f_and_b_model(df, df_future):

    x_train = df[['attendance','weekend','start_time_num','tier_num']]
    y_train = df[['gross_revenue']]

    x_test = df_future[['attendance','weekend','start_time_num','tier_num']]

    #scalar = PolynomialFeatures(degree=2, include_bias=False)
    #poly_features = scalar.fit_transform(x_train)
    scalar = StandardScaler()
    poly_features = scalar.fit_transform(x_train)

    polynomial = LinearRegression().fit(poly_features, np.array(y_train).ravel())
    #predicted_train = polynomial.predict(poly_features)

    poly_features2 = scalar.fit_transform(x_test)

    return polynomial.predict(poly_features2).astype(int)

In [10]:
future_game_info['predicted_f_and_b_gross_rev'] = run_f_and_b_model(historical_f_and_b, future_game_info)

In [11]:
def run_merch_model(df, df_future):

    x_train = df[['attendance','weekend','start_time_num','tier_num']]
    y_train = df[['gross_revenue']]

    x_test = df_future[['attendance','weekend','start_time_num','tier_num']]

    #scalar = PolynomialFeatures(degree=2, include_bias=False)
    #poly_features = scalar.fit_transform(x_train)
    scalar = StandardScaler()
    poly_features = scalar.fit_transform(x_train)

    polynomial = LinearRegression().fit(poly_features, np.array(y_train).ravel())
    #predicted_train = polynomial.predict(poly_features)

    poly_features2 = scalar.fit_transform(x_test)

    return polynomial.predict(poly_features2).astype(int)

In [12]:
future_game_info['predicted_merch_gross_rev'] = run_merch_model(historical_merch, future_game_info)

In [13]:
future_game_info

,season,event_date,tier,is_premier,original_six_plus_extra,day_of_week,start_time,total_predicted_tickets,attendance,weekend,start_time_num,tier_num,predicted_f_and_b_gross_rev,predicted_merch_gross_rev
0,2024-25,2024-11-12,E,False,0.00,Tue,7:30 PM,18659,15583,0,0,1,339298,121194
1,2024-25,2024-11-16,D,True,0.00,Sat,7:00 PM,18967,16325,1,0,2,410966,135295
2,2024-25,2024-11-25,E,False,0.00,Mon,7:00 PM,18205,15187,0,0,1,320182,114920
3,2024-25,2024-11-30,C,True,0.00,Sat,4:00 PM,18931,16417,1,2,3,426124,188201
4,2024-25,2024-12-20,C,False,0.00,Fri,7:00 PM,17339,15007,1,0,3,373252,125388
5,2024-25,2024-12-28,A,True,1.50,Sat,1:00 PM,19337,17335,1,1,5,529853,204450
6,2024-25,2025-01-02,D,False,0.00,Thu,7:00 PM,17625,15178,0,0,2,345656,125750
7,2024-25,2025-01-11,B,True,1.00,Sat,1:00 PM,19605,17517,1,1,4,512730,196361
8,2024-25,2025-01-18,D,True,0.00,Sat,6:00 PM,18952,16313,1,2,2,395195,175581
9,2024-25,2025-02-01,C,True,1.00,Sat,1:00 PM,19212,16670,1,1,3,445933,171971
10,2024-25,2025-02-08,C,True,0.00,Sat,7:00 PM,19494,16923,1,0,3,465742,155741
11,2024-25,2025-02-27,C,False,0.00,Thu,7:30 PM,18956,16411,0,0,3,431086,156256
12,2024-25,2025-03-03,C,True,1.50,Mon,7:00 PM,19373,16788,0,0,3,449285,162228
13,2024-25,2025-03-08,C,True,0.00,Sat,6:00 PM,19354,16762,1,2,3,442779,193666
14,2024-25,2025-03-28,D,False,0.00,Fri,7:00 PM,18367,15822,1,0,2,386685,127326
15,2024-25,2025-04-08,B,True,1.50,Tue,7:00 PM,19668,17590,0,0,4,513909,185906
16,2024-25,2025-04-12,C,True,0.00,Sat,6:00 PM,19568,16999,1,2,3,454219,197421
17,2024-25,2024-11-14,D,False,0.00,Thu,7:00 PM,18345,15741,0,0,2,372834,134669
18,2024-25,2024-11-23,C,True,0.00,Sat,6:00 PM,18753,16232,1,2,3,417194,185270
19,2024-25,2024-11-27,B,True,1.50,Wed,7:30 PM,19237,17189,0,0,4,494551,179553
20,2024-25,2024-12-07,D,True,0.00,Sat,6:00 PM,19000,16325,1,2,2,395774,175771
21,2024-25,2024-12-23,B,True,1.50,Mon,7:00 PM,18976,16956,0,0,4,483304,175862
22,2024-25,2024-12-30,A,True,1.50,Mon,7:00 PM,19496,17455,0,0,5,533301,194740
23,2024-25,2025-01-03,C,False,0.75,Fri,7:00 PM,17868,15437,1,0,3,394009,132200
24,2024-25,2025-01-16,D,False,0.75,Thu,7:00 PM,18315,15732,0,0,2,372400,134527
25,2024-25,2025-01-29,E,False,0.00,Wed,7:00 PM,19806,16534,0,0,1,385205,136259
26,2024-25,2025-02-02,D,True,0.00,Sun,6:00 PM,19269,16596,1,2,2,408856,180064
27,2024-25,2025-02-22,C,True,0.00,Sat,6:00 PM,19299,16741,1,2,3,441765,193333
28,2024-25,2025-03-01,C,True,0.00,Sat,3:00 PM,19410,16853,1,1,3,454767,174870
29,2024-25,2025-03-06,E,False,0.00,Thu,7:00 PM,18731,15646,0,0,1,342339,122192
30,2024-25,2025-03-23,C,True,0.75,Sun,6:00 PM,19536,16942,1,2,3,451468,196518
31,2024-25,2025-03-30,B,True,1.50,Sun,1:00 PM,19547,17495,1,1,4,511668,196013
32,2024-25,2025-04-10,D,False,0.75,Thu,7:00 PM,19029,16365,0,0,2,402956,144555
33,2024-25,2025-04-14,B,True,1.50,Mon,7:00 PM,19873,17785,0,0,4,523322,188995