In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from prefect.blocks.system import Secret
from catnip.fla_redshift import FLA_Redshift
from typing import Dict
from concurrent.futures import ThreadPoolExecutor
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [2]:
def get_redshift_credentials() -> Dict:

    cred_dict = {
        "dbname": Secret.load("stellar-redshift-db-name").get(),
        "host": Secret.load("stellar-redshift-host").get(),
        "port": 5439,
        "user": Secret.load("stellar-redshift-user-name").get(),
        "password": Secret.load("stellar-redshift-password").get(),

        "aws_access_key_id": Secret.load("fla-s3-aws-access-key-id-east-1").get(),
        "aws_secret_access_key": Secret.load("fla-s3-aws-secret-access-key-east-1").get(),
        "bucket": Secret.load("fla-s3-bucket-name-east-1").get(),
        "subdirectory": "us-east-1",

        "verbose": False,
    }

    return cred_dict

with ThreadPoolExecutor(1) as pool:
    rs_creds = pool.submit(lambda: get_redshift_credentials()).result()

In [3]:
# 1. Pricing - Dynamic Pricing Model

# seperate file (pricing_model_v1.py)

In [3]:
# 2. Predicted Budget

q = """
select 
    date(event_date)::varchar as event_date, sum(budget_goal) as budget_goal
from  
    custom.cth_budget_summary_2324
group by
    event_date
order by 
    event_date
"""
budget_df = FLA_Redshift(**rs_creds).query_warehouse(sql_string=q)

In [4]:
# 3. Predicted Revenue & Tickets

q = """
select
    cth_ticket_sales_model_2324.event_date, tier,
    sum(paid_seats+expected_additional_paid_seats) as expected_final_paid_seats,
    sum(comp_seats+expected_additional_comp_seats) as expected_final_comp_seats,
    expected_final_paid_seats+expected_final_comp_seats as expected_final_seats,
    sum(gross_revenue+expected_additional_revenue) as expected_final_gross_revenue
from
    custom.cth_ticket_sales_model_2324
left join
    custom.cth_game_descriptions on cth_ticket_sales_model_2324.event_date = cth_game_descriptions.event_date
group by
    cth_ticket_sales_model_2324.event_date, tier, abbreviation, start_time_tableau, day_of_week
order by
    cth_ticket_sales_model_2324.event_date
"""
predicted_df = FLA_Redshift(**rs_creds).query_warehouse(sql_string=q)

In [5]:
# 4. Predicted Attendance

# mulitply projected tickets by historical show rate

q = """
WITH a as
    (SELECT 
        h.paid_seats, h.did_attend, h.event_date
    FROM 
        custom.cth_historical_all_1718_2223 h
    WHERE 
        h.season in ('2019-20', '2021-22', '2022-23')
        and h.paid_seats != 0)

SELECT 
    g.tier, sum(a.did_attend)/sum(a.paid_seats) as paid_rate
FROM 
    a
LEFT JOIN 
    custom.cth_game_descriptions g on date(a.event_date) = date(g.event_date)
GROUP BY 
    tier
ORDER BY 
    tier"""

paid_seats = FLA_Redshift(**rs_creds).query_warehouse(sql_string=q)

q = """
WITH a as
    (SELECT
        h.comp_seats, h.did_attend, h.event_date
    FROM
        custom.cth_historical_all_1718_2223 h
    WHERE
        h.season in ('2019-20', '2021-22', '2022-23')
        and h.comp_seats != 0)

SELECT
    g.tier, sum(a.did_attend)/sum(a.comp_seats) as comp_rate
FROM
    a
LEFT JOIN
    custom.cth_game_descriptions g on date(a.event_date) = date(g.event_date)
GROUP BY
    tier
ORDER BY
    tier"""

comp_seats = FLA_Redshift(**rs_creds).query_warehouse(sql_string=q)

attendance_df = paid_seats.merge(comp_seats, how = 'left', on = 'tier')

final_attendance_df = predicted_df.merge(right = attendance_df, how = 'left', on = 'tier')
final_attendance_df['predicted_attendance'] = [(w*x)+(y*z) for w,x,y,z, in zip(final_attendance_df['expected_final_paid_seats'],
                                                              final_attendance_df['paid_rate'], final_attendance_df['expected_final_comp_seats'], final_attendance_df['comp_rate'])]
just_attendance = final_attendance_df[['event_date', 'predicted_attendance', 'expected_final_gross_revenue', 'expected_final_seats']]

In [6]:
# 5. Predicted Parking

# polynomial model (built by Pavan), multiply by avg atp to get rev

q = """
WITH attendance as
    (SELECT
        '2022-23' as season, event_date, sum(entry) as attendance
    FROM
        custom.cth_attendance_scans_2223
    GROUP BY
        event_date
    ORDER BY
        event_date)

SELECT
    attendance.event_date, tier, coalesce(attendance,0) as ticket_scans,
    coalesce(sum(paid_amount),0) as parking_paid_amount, count(*)-1 as num_parking_transactions
FROM
    attendance
LEFT JOIN
    custom.Parkhub_v_transactions on attendance.event_date = Parkhub_v_transactions.event_date
LEFT JOIN
    custom.cth_game_descriptions on attendance.event_date = cth_game_descriptions.event_date
WHERE
    attendance.event_date > '2022-10-01'
    and tier in ('A','B','C','D','E')
    and attendance.event_date != '2022-11-09'
GROUP BY
    attendance.event_date, tier, ticket_scans
ORDER BY
    attendance.event_date, tier
"""

df = FLA_Redshift(**rs_creds).query_warehouse(sql_string=q)

#Historical Parking Data Clean Up 
df['weekend'] = df.apply(lambda row: 1 if datetime.weekday(datetime.strptime(row['event_date'], '%Y-%m-%d').date()) == 5 
    or datetime.weekday(datetime.strptime(row['event_date'], '%Y-%m-%d').date()) == 6 else 0, axis = 1)
df['tier_num'] = df.apply(lambda row: 5 if row['tier'] == 'A' else (4 if row['tier'] == 'B' else (3 if row['tier'] == 'C' else 
    (2 if row['tier'] == 'D' else (1 if row['tier'] == 'E' else 0)))), axis = 1)

#2023-2024 Season Data Clean Up 
q = """
select 
    event_date, tier, day_of_week
from 
    custom.cth_game_descriptions
where 
    season = '2023-24'
"""

games = FLA_Redshift(**rs_creds).query_warehouse(sql_string=q)

games['weekend'] = games.apply(lambda row: 1 if row['day_of_week'] =='Fri' or row['day_of_week']=='Sat'  or row['day_of_week']=='Sun'  else 0 , axis=1)
games['tier_num'] = games.apply(lambda row: 5 if row['tier'] == 'A' else (4 if row['tier'] == 'B' else (3 if row['tier'] == 'C' else 
    (2 if row['tier'] == 'D' else (1 if row['tier'] == 'E' else 0)))), axis = 1)
games = games.merge(right = just_attendance, how = 'left', on = 'event_date')

#Training Data 
xdf = df[['ticket_scans', 'weekend', 'tier_num']]
y = df[['num_parking_transactions']]

# #Test Data 
xdf2 = games[['predicted_attendance', 'weekend', 'tier_num']] ## GET PREDICTED ATTENDANCE FROM ABOVE CODE!

#Scaling Data
poly = PolynomialFeatures(degree=4, include_bias=False)
poly_features2 = poly.fit_transform(xdf2)
poly_features = poly.fit_transform(xdf)

polynomial = LinearRegression().fit(poly_features, np.array(y).ravel())
predicted = polynomial.predict(poly_features2)

games['predicted_parking'] = predicted

In [7]:
games

,event_date,tier,day_of_week,weekend,tier_num,predicted_attendance,expected_final_gross_revenue,expected_final_seats,predicted_parking
0,2023-10-07,PS,Sat,1,0,7514.646360,6.362651e+05,13811.000000,5064.107105
1,2023-10-21,D,Sat,1,2,13823.920000,1.043513e+06,16990.000000,3743.982210
2,2023-10-28,C,Sat,1,3,14206.116891,1.199670e+06,16779.000000,3704.151186
3,2023-11-10,D,Fri,1,2,14560.437617,1.123070e+06,17850.000000,3935.990055
4,2023-11-20,D,Mon,0,2,15844.877550,1.118044e+06,19632.000000,4063.952589
5,2023-11-24,C,Fri,1,3,15848.658083,1.265184e+06,18803.000000,4065.024660
6,2023-12-06,E,Wed,0,1,14031.771653,8.533264e+05,18375.000000,3532.275257
7,2023-12-21,C,Thu,0,3,14456.512013,1.254232e+06,17070.140255,3933.214721
8,2023-12-29,A,Fri,1,5,17645.175005,2.662445e+06,20268.056358,4495.698696
9,2024-01-11,E,Thu,0,1,13802.265471,9.376912e+05,17935.382203,3479.013302
10,2024-01-15,D,Mon,0,2,14602.032072,1.135869e+06,17894.303147,3858.959948
11,2024-01-19,C,Fri,1,3,14892.296620,1.421919e+06,17522.199854,3881.742153
12,2024-02-06,D,Tue,0,2,12794.702715,1.062750e+06,15704.345186,3357.937794
13,2024-02-10,C,Sat,1,3,15330.560781,1.482339e+06,18014.996653,3979.460145
14,2024-02-24,C,Sat,1,3,15124.042298,1.443201e+06,17773.057343,3935.678575
15,2024-02-29,C,Thu,0,3,15745.422832,1.407254e+06,18494.134773,4259.133037
16,2024-03-09,C,Sat,1,3,15353.638024,1.453859e+06,18042.031967,3984.058394
17,2024-03-21,E,Thu,0,1,12999.867283,9.317906e+05,16756.121925,3286.763542
18,2024-03-28,D,Thu,0,2,14348.331197,1.130428e+06,17600.094293,3793.218608
19,2024-04-09,D,Tue,0,2,15020.766199,1.111999e+06,18420.604518,3954.051178
20,2024-04-13,C,Sat,1,3,15969.957593,1.553637e+06,18764.059019,4078.799422
21,2023-10-19,B,Thu,0,4,16287.809487,1.732216e+06,19288.000000,4342.371355
22,2023-10-24,E,Tue,0,1,12323.577137,6.938654e+05,16139.000000,3141.114687
23,2023-11-06,E,Mon,0,1,12973.518283,7.349271e+05,17109.000000,3280.623341
24,2023-11-12,D,Sun,1,2,15794.807651,1.263132e+06,19361.000000,4166.650018
25,2023-11-22,B,Wed,0,4,16497.996381,1.844601e+06,19327.000000,4361.044532
26,2023-12-02,C,Sat,1,3,15486.109602,1.355603e+06,18270.000000,4009.174532
27,2023-12-08,C,Fri,1,3,15797.125531,1.396151e+06,18640.000000,4058.373014
28,2023-12-23,B,Sat,1,4,16026.644523,1.854202e+06,18786.400969,4216.947629
29,2023-12-30,A,Sat,1,5,17555.365306,2.564714e+06,20165.327880,4514.078551
30,2024-01-13,C,Sat,1,3,15255.850826,1.457029e+06,17961.865949,3964.150993
31,2024-01-17,D,Wed,0,2,13541.542961,1.103038e+06,16615.645246,3564.600833
32,2024-01-24,E,Wed,0,1,12356.996873,8.670861e+05,15933.987016,3147.570409
33,2024-02-08,D,Thu,0,2,14820.710564,1.211298e+06,18125.298955,3911.071407
34,2024-02-20,E,Tue,0,1,12362.775550,8.878806e+05,15941.377078,3148.696150
35,2024-02-27,E,Tue,0,1,12489.703569,8.790105e+05,16103.698992,3174.096161
36,2024-03-07,C,Thu,0,3,13437.264261,1.178289e+06,15865.759248,3600.224782
37,2024-03-16,B,Sat,1,4,15848.614609,1.916790e+06,18476.737391,4188.931016
38,2024-03-26,B,Tue,0,4,15806.812311,1.922971e+06,18428.149064,4261.779861
39,2024-03-30,C,Sat,1,3,15970.717538,1.516476e+06,18764.949305,4078.877071
40,2024-04-11,E,Thu,0,1,13358.966963,9.508254e+05,17215.356598,3372.390833
41,2024-04-16,B,Tue,0,4,16050.406807,1.985976e+06,18711.287783,4308.628110

In [8]:
q = """
select 
    cast(date(event_datetime) as varchar) as event_date, count(*) as current_parking, sum(gross_revenue) as current_gross_rev
from 
    custom.ctp_v_ticket
where 
    event_type = '2023-24 Panthers Parking'
    and price_type_group not like 'Comp%'
group by 
    event_date
"""

current_parking = FLA_Redshift(**rs_creds).query_warehouse(sql_string=q)
games = games.merge(current_parking, how = 'left', on = 'event_date')
games['remaining_parking'] = [x-y for x,y in zip(games['predicted_parking'], games['current_parking'])]
games['predicted_parking_revenue'] = [42.8*x+y for x,y in zip(games['remaining_parking'], games['current_gross_rev'])]

In [9]:
games

,event_date,tier,day_of_week,weekend,tier_num,predicted_attendance,expected_final_gross_revenue,expected_final_seats,predicted_parking,current_parking,current_gross_rev,remaining_parking,predicted_parking_revenue
0,2023-10-07,PS,Sat,1,0,7514.646360,6.362651e+05,13811.000000,5064.107105,2861,34430.23,2203.107105,128723.214110
1,2023-10-21,D,Sat,1,2,13823.920000,1.043513e+06,16990.000000,3743.982210,2519,54587.39,1224.982210,107016.628574
2,2023-10-28,C,Sat,1,3,14206.116891,1.199670e+06,16779.000000,3704.151186,2510,55630.93,1194.151186,106740.600753
3,2023-11-10,D,Fri,1,2,14560.437617,1.123070e+06,17850.000000,3935.990055,2620,59825.60,1315.990055,116149.974361
4,2023-11-20,D,Mon,0,2,15844.877550,1.118044e+06,19632.000000,4063.952589,2159,51459.27,1904.952589,132991.240825
5,2023-11-24,C,Fri,1,3,15848.658083,1.265184e+06,18803.000000,4065.024660,2666,61626.25,1399.024660,121504.505444
6,2023-12-06,E,Wed,0,1,14031.771653,8.533264e+05,18375.000000,3532.275257,2181,51909.72,1351.275257,109744.301003
7,2023-12-21,C,Thu,0,3,14456.512013,1.254232e+06,17070.140255,3933.214721,1617,31152.52,2316.214721,130286.510052
8,2023-12-29,A,Fri,1,5,17645.175005,2.662445e+06,20268.056358,4495.698696,2311,46880.06,2184.698696,140385.164191
9,2024-01-11,E,Thu,0,1,13802.265471,9.376912e+05,17935.382203,3479.013302,1521,28300.34,1958.013302,112103.309330
10,2024-01-15,D,Mon,0,2,14602.032072,1.135869e+06,17894.303147,3858.959948,2088,40426.86,1770.959948,116223.945790
11,2024-01-19,C,Fri,1,3,14892.296620,1.421919e+06,17522.199854,3881.742153,2137,41987.37,1744.742153,116662.334152
12,2024-02-06,D,Tue,0,2,12794.702715,1.062750e+06,15704.345186,3357.937794,1479,26726.37,1878.937794,107144.907591
13,2024-02-10,C,Sat,1,3,15330.560781,1.482339e+06,18014.996653,3979.460145,2135,41528.81,1844.460145,120471.704213
14,2024-02-24,C,Sat,1,3,15124.042298,1.443201e+06,17773.057343,3935.678575,2118,41248.05,1817.678575,119044.693001
15,2024-02-29,C,Thu,0,3,15745.422832,1.407254e+06,18494.134773,4259.133037,2152,41759.29,2107.133037,131944.584003
16,2024-03-09,C,Sat,1,3,15353.638024,1.453859e+06,18042.031967,3984.058394,2129,41293.71,1855.058394,120690.209254
17,2024-03-21,E,Thu,0,1,12999.867283,9.317906e+05,16756.121925,3286.763542,1446,25652.74,1840.763542,104437.419588
18,2024-03-28,D,Thu,0,2,14348.331197,1.130428e+06,17600.094293,3793.218608,1470,26375.86,2323.218608,125809.616434
19,2024-04-09,D,Tue,0,2,15020.766199,1.111999e+06,18420.604518,3954.051178,1433,25430.59,2521.051178,133331.580405
20,2024-04-13,C,Sat,1,3,15969.957593,1.553637e+06,18764.059019,4078.799422,2124,41146.98,1954.799422,124812.395243
21,2023-10-19,B,Thu,0,4,16287.809487,1.732216e+06,19288.000000,4342.371355,2869,66003.61,1473.371355,129063.903974
22,2023-10-24,E,Tue,0,1,12323.577137,6.938654e+05,16139.000000,3141.114687,1771,38091.27,1370.114687,96732.178614
23,2023-11-06,E,Mon,0,1,12973.518283,7.349271e+05,17109.000000,3280.623341,2073,47794.98,1207.623341,99481.259008
24,2023-11-12,D,Sun,1,2,15794.807651,1.263132e+06,19361.000000,4166.650018,2735,63987.22,1431.650018,125261.840779
25,2023-11-22,B,Wed,0,4,16497.996381,1.844601e+06,19327.000000,4361.044532,2834,66995.60,1527.044532,132353.105964
26,2023-12-02,C,Sat,1,3,15486.109602,1.355603e+06,18270.000000,4009.174532,2763,65201.72,1246.174532,118537.989960
27,2023-12-08,C,Fri,1,3,15797.125531,1.396151e+06,18640.000000,4058.373014,2737,63675.44,1321.373014,120230.205004
28,2023-12-23,B,Sat,1,4,16026.644523,1.854202e+06,18786.400969,4216.947629,2275,46126.33,1941.947629,129241.688514
29,2023-12-30,A,Sat,1,5,17555.365306,2.564714e+06,20165.327880,4514.078551,2199,43879.39,2315.078551,142964.751977
30,2024-01-13,C,Sat,1,3,15255.850826,1.457029e+06,17961.865949,3964.150993,2163,42419.25,1801.150993,119508.512503
31,2024-01-17,D,Wed,0,2,13541.542961,1.103038e+06,16615.645246,3564.600833,1575,29625.07,1989.600833,114779.985669
32,2024-01-24,E,Wed,0,1,12356.996873,8.670861e+05,15933.987016,3147.570409,1442,25671.85,1705.570409,98670.263526
33,2024-02-08,D,Thu,0,2,14820.710564,1.211298e+06,18125.298955,3911.071407,2121,41070.41,1790.071407,117685.466213
34,2024-02-20,E,Tue,0,1,12362.775550,8.878806e+05,15941.377078,3148.696150,1485,27020.97,1663.696150,98227.165229
35,2024-02-27,E,Tue,0,1,12489.703569,8.790105e+05,16103.698992,3174.096161,1432,25316.27,1742.096161,99877.985677
36,2024-03-07,C,Thu,0,3,13437.264261,1.178289e+06,15865.759248,3600.224782,1468,26254.58,2132.224782,117513.800687
37,2024-03-16,B,Sat,1,4,15848.614609,1.916790e+06,18476.737391,4188.931016,2139,41655.11,2049.931016,129392.157478
38,2024-03-26,B,Tue,0,4,15806.812311,1.922971e+06,18428.149064,4261.779861,2147,41802.87,2114.779861,132315.448032
39,2024-03-30,C,Sat,1,3,15970.717538,1.516476e+06,18764.949305,4078.877071,2138,41543.38,1940.877071,124612.918648
40,2024-04-11,E,Thu,0,1,13358.966963,9.508254e+05,17215.356598,3372.390833,1428,25247.33,1944.390833,108467.257659
41,2024-04-16,B,Tue,0,4,16050.406807,1.985976e+06,18711.287783,4308.628110,2153,41845.44,2155.628110,134106.323111

In [10]:
# 6. Predicted F&B & Merch

# avg F&B & Merch per caps by tier (add DOW for drink deals and stuff, simply regression model)

q = """
with a as
    (select bypass_orderitems_2223.event_date, sum(line_item_gross_revenue) as fandb_rev
    from custom.bypass_orderitems_2223
    where event_type = 'Hockey'
    group by bypass_orderitems_2223.event_date
    order by bypass_orderitems_2223.event_date),
b as
    (select event_date, sum(entry) as entry
     from custom.cth_attendance_scans_2223
     group by event_date
     UNION
     select event_date, sum(entry) as entry
     from custom.cth_attendance_scans_playoffs_2223
     group by event_date),
c as
    (select event_date, sum(line_item_gross_revenue) as merch_rev
     from custom.retailpro_invoice_items
     group by event_date),

temp as
    (select a.event_date, tier,
        CASE
            when date_part('dw', date(a.event_date)) in (5,6,7) then 1
            else 0
        end as weekend, fandb_rev, entry, merch_rev, fandb_rev/entry as fandb_percap, merch_rev/entry as merch_percap
    from a
    left join b on a.event_date = b.event_date
    left join c on a.event_date = c.event_date
    left join custom.cth_game_descriptions on a.event_date = cth_game_descriptions.event_date
    where a.event_date not like '2022-11-15')

select tier, weekend, avg(fandb_percap) as fandb_percap, avg(merch_percap) as merch_percap
from temp
where tier in ('A','B','C','D','E')
group by tier, weekend
order by tier, weekend
"""

df = FLA_Redshift(**rs_creds).query_warehouse(sql_string=q)

final = games.merge(right = df, how = 'left', on = ['weekend', 'tier'])
final['predicted_fandb'] = [x*y for x,y in zip(final['predicted_attendance'], final['fandb_percap'])]
final['predicted_merch'] = [x*y for x,y in zip(final['predicted_attendance'], final['merch_percap'])]

In [11]:
final = final.merge(budget_df, how = 'left', on = 'event_date')
final = final[['event_date', 'tier', 'budget_goal', 'expected_final_gross_revenue', 'expected_final_seats',
               'predicted_attendance', 'predicted_parking', 'predicted_parking_revenue','predicted_fandb', 'predicted_merch']]

In [12]:
final['predicted_parking_revenue'].sum()

5015243.0465410985

In [13]:
final

,event_date,tier,budget_goal,expected_final_gross_revenue,expected_final_seats,predicted_attendance,predicted_parking,predicted_parking_revenue,predicted_fandb,predicted_merch
0,2023-10-07,PS,630957.0,6.362651e+05,13811.000000,7514.646360,5064.107105,128723.214110,NaN,NaN
1,2023-10-21,D,1048420.0,1.043513e+06,16990.000000,13823.920000,3743.982210,107016.628574,363818.418419,131524.916722
2,2023-10-28,C,1232224.0,1.199670e+06,16779.000000,14206.116891,3704.151186,106740.600753,354569.074790,174253.107006
3,2023-11-10,D,1143440.0,1.123070e+06,17850.000000,14560.437617,3935.990055,116149.974361,383202.115270,138532.366002
4,2023-11-20,D,1057581.0,1.118044e+06,19632.000000,15844.877550,4063.952589,132991.240825,401617.445673,160359.282917
5,2023-11-24,C,1234225.0,1.265184e+06,18803.000000,15848.658083,4065.024660,121504.505444,395565.098908,194400.618691
6,2023-12-06,E,840944.0,8.533264e+05,18375.000000,14031.771653,3532.275257,109744.301003,337865.686603,140214.137325
7,2023-12-21,C,1259099.0,1.254232e+06,17070.140255,14456.512013,3933.214721,130286.510052,382670.638224,155127.271062
8,2023-12-29,A,2535776.0,2.662445e+06,20268.056358,17645.175005,4495.698696,140385.164191,525661.392237,106848.129172
9,2024-01-11,E,780945.0,9.376912e+05,17935.382203,13802.265471,3479.013302,112103.309330,332339.494629,137920.769661
10,2024-01-15,D,1103419.0,1.135869e+06,17894.303147,14602.032072,3858.959948,116223.945790,370115.250433,147780.971159
11,2024-01-19,C,1285604.0,1.421919e+06,17522.199854,14892.296620,3881.742153,116662.334152,371695.367176,182669.829930
12,2024-02-06,D,922581.0,1.062750e+06,15704.345186,12794.702715,3357.937794,107144.907591,324305.177274,129489.757564
13,2024-02-10,C,1495504.0,1.482339e+06,18014.996653,15330.560781,3979.460145,120471.704213,382633.959287,188045.605194
14,2024-02-24,C,1520552.0,1.443201e+06,17773.057343,15124.042298,3935.678575,119044.693001,377479.484770,185512.436727
15,2024-02-29,C,1547505.0,1.407254e+06,18494.134773,15745.422832,4259.133037,131944.584003,416788.710754,168958.077392
16,2024-03-09,C,1496804.0,1.453859e+06,18042.031967,15353.638024,3984.058394,120690.209254,383209.941913,188328.672075
17,2024-03-21,E,773944.0,9.317906e+05,16756.121925,12999.867283,3286.763542,104437.419588,313018.854198,129902.710894
18,2024-03-28,D,999581.0,1.130428e+06,17600.094293,14348.331197,3793.218608,125809.616434,363684.737031,145213.372243
19,2024-04-09,D,961301.0,1.111999e+06,18420.604518,15020.766199,3954.051178,133331.580405,380728.833914,152018.801598
20,2024-04-13,C,1498525.0,1.553637e+06,18764.059019,15969.957593,4078.799422,124812.395243,398592.601458,195888.485974
21,2023-10-19,B,1722948.0,1.732216e+06,19288.000000,16287.809487,4342.371355,129063.903974,401273.400511,107205.847294
22,2023-10-24,E,691946.0,6.938654e+05,16139.000000,12323.577137,3141.114687,96732.178614,296734.721284,123144.801644
23,2023-11-06,E,721944.0,7.349271e+05,17109.000000,12973.518283,3280.623341,99481.259008,312384.406667,129639.415399
24,2023-11-12,D,1279419.0,1.263132e+06,19361.000000,15794.807651,4166.650018,125261.840779,415688.309752,150276.532343
25,2023-11-22,B,1812948.0,1.844601e+06,19327.000000,16497.996381,4361.044532,132353.105964,406451.654222,108589.290791
26,2023-12-02,C,1335524.0,1.355603e+06,18270.000000,15486.109602,4009.174532,118537.989960,386516.287015,189953.576636
27,2023-12-08,C,1380565.0,1.396151e+06,18640.000000,15797.125531,4058.373014,120230.205004,394278.902995,193768.517219
28,2023-12-23,B,1812950.0,1.854202e+06,18786.400969,16026.644523,4216.947629,129241.688514,452795.578644,161208.613991
29,2023-12-30,A,2490776.0,2.564714e+06,20165.327880,17555.365306,4514.078551,142964.751977,522985.902126,106304.297882
30,2024-01-13,C,1470502.0,1.457029e+06,17961.865949,15255.850826,3964.150993,119508.512503,380769.280871,187129.208275
31,2024-01-17,D,966302.0,1.103038e+06,16615.645246,13541.542961,3564.600833,114779.985669,343235.211347,137048.210819
32,2024-01-24,E,701944.0,8.670861e+05,15933.987016,12356.996873,3147.570409,98670.263526,297539.422384,123478.752309
33,2024-02-08,D,1203479.0,1.211298e+06,18125.298955,14820.710564,3911.071407,117685.466213,375658.057396,149994.123400
34,2024-02-20,E,701946.0,8.878806e+05,15941.377078,12362.775550,3148.696150,98227.165229,297678.564944,123536.496421
35,2024-02-27,E,726944.0,8.790105e+05,16103.698992,12489.703569,3174.096161,99877.985677,300734.816399,124804.839665
36,2024-03-07,C,1168606.0,1.178289e+06,15865.759248,13437.264261,3600.224782,117513.800687,355690.673249,144190.115394
37,2024-03-16,B,1772949.0,1.916790e+06,18476.737391,15848.614609,4188.931016,129392.157478,447765.757343,159417.848889
38,2024-03-26,B,1773950.0,1.922971e+06,18428.149064,15806.812311,4261.779861,132315.448032,389423.349554,104039.939083
39,2024-03-30,C,1373533.0,1.516476e+06,18764.949305,15970.717538,4078.877071,124612.918648,398611.568840,195897.807501
40,2024-04-11,E,778944.0,9.508254e+05,17215.356598,13358.966963,3372.390833,108467.257659,321665.478653,133491.056905
41,2024-04-16,B,1742950.0,1.985976e+06,18711.287783,16050.406807,4308.628110,134106.323111,395424.647153,105643.270361